extends layout

block content
  div(style='width:100%; text-align:center')
    img#tyome(src='/images/tyome.png')
  
  script(type='text/javascript')
    $(function() {
      var tyome = $('#tyome'),
          defaultLeft = parseInt(tyome.offset().left);
          socket = io.connect('192.168.100.102');
  
      socket.on('move', function(pos) {
        var angle = (parseInt(pos.left) - defaultLeft);
        tyome.css(pos).rotate(angle);
      });
  
      tyome.draggable({
        drag: function(event, ui) {
          var pos  = ui.position,
              left = pos.left,
              angle = (left - defaultLeft);
              
          tyome.rotate(angle);
          socket.json.emit('accelerate', ui.position);
        }
      });
  
      // iPhone
      window.addEventListener("devicemotion", function(event) {
        var gravity = event.accelerationIncludingGravity,
            left    = parseInt(tyome.css('left')) || 0,
            top     = parseInt(tyome.css('top')) || 0,
            angle = (left - defaultLeft);
  
        left += gravity.x;
  
        cssPos = {
          left: left + 'px',
          top:  top  + 'px'
        };
  
        tyome.css(cssPos).rotate(angle);
        socket.json.emit('accelerate', cssPos);
      });
    });
