doctype 5
html
  head
    title Hello
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/jquery.rotate.min.js')
    script(src='/javascripts/raphael.min.js')
    script(src='/javascripts/jquery-ui.draggable.min.js')
    script(src='/socket.io/socket.io.js')
  body
    block content
